:root {

    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
}

/* start globl rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* end globl rules */

body {
    background-color: var(--Dark-cyan);
    font-family: 'Kumbh Sans', sans-serif;
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: left -19vw top -65vh, right -15vw bottom -120vh;
}

@media (max-width:767px) {
    body {
        background-position: left -175vw top -70vh, right -170vw bottom -105vh;
    }
}

.container {
    background-color: white;
    width: 350px;
    max-width: 100%;
    height: 350px;
    margin: auto auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    margin-bottom: 50px;

}

.container header {
    width: 100%;
    height: 120px;
    background-color: aqua;
    background-image: url(../images/bg-pattern-card.svg);
    background-size: 100%;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}

.container .card-content img {
    border: 5px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    top: -45px;
    left: 120px;
}

.container .card-content {
    position: relative;
}

.container .card-content::after {
    content: '';
    background-color: var(--Dark-gray);
    width: 100%;
    height: 0.2px;
    position: absolute;
    bottom: -20px;
}

.container .card-content .text {
    text-align: center;
    margin-top: -40px;
}

.container .card-content .text span {
    font-size: 18px;
    font-weight: normal;
    color: var(--Dark-gray);
    margin-left: 5px;
}

.container .card-content .text p {
    color: var(--Dark-gray);
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 14px;
}



.container .number {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}

.container .number span {
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--Dark-gray);
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 14px;
}

.container .number p:not(.caption) {
    font-weight: bold;
}

.container .number .caption {
    color: var(--Dark-grayish-blue);
}

.attribution {
    font-size: 11px;
    text-align: center;
    transform: translateY(300px);
    -webkit-transform: translateY(300px);
    -moz-transform: translateY(300px);
    -ms-transform: translateY(300px);
    -o-transform: translateY(300px);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}